<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>

<body>
    <h1>Welcome to the Post Page</h1>
    <p>This is the post page of the website.</p>
    <form action="/post" method="POST" enctype="multipart/form-data">
        <fieldset style="background: #f6f8ff; border: 2px solid #4238ca;">
            <legend>Customer Information</legend>
            <input type="text" name="firstName" placeholder="First name"><br /><br />
            <input type="text" name="lastName" placeholder="Last name"><br /><br />
            <input type="file" id="profilePic" name="profilePic" accept="image/*"><br /><br />
            <button type="submit" onclick="loadPage">Submit</button>
        </fieldset>
    </form>

    <h1>Customer Information</h1>
    <p id="name">First Name: {{.FirstName}}</p>
    <p>Last Name: {{.LastName}}</p>

    <h1>Image</h1>
    <p>Image: <img id="image" src="http://localhost:8080/image/AI-creation.png" alt="Profile Picture"
            style="width: 100px; height: 100px;">
    </p>
</body>

</html>

<script>

    // retirer les [] de la chaine de caractère
    // name.innerHTML = name.innerHTML.replace("[", "");
    // name.innerHTML = name.innerHTML.replace("]", "");
    // console.log(name.innerHTML);
    // launch the script whem the page is loaded

    function loadPage() {
        console.log("test");
        let name = document.getElementById("name");
        console.log(name.innerHTML);
    };
    // console.log("{{.profilePic}}");
    // console.log("test");
</script>